<div class="container">
    <form>
        <h2>ADD PRODUCT</h2>
        <div class="content">
            <div class="input-box">
                <label for="name">Product Name</label>
                <input type="text" placeholder="Enter Product Name" name="name" required>
            </div>
            <div class="input-box">
                <label for="name">Price</label>
                <input type="text" placeholder="Enter Product Price" name="price" required>
            </div>
            <div class="input-box">
                <label for="name">Color</label>
                <input type="text" placeholder="Enter Product Color" name="color" required>
            </div>
            <div class="input-box">
                <label for="name">Category</label>
                <input type="text" placeholder="Enter Product Category" name="category" required>
            </div>
            <div class="input-box">
                <label for="name">Description</label>
                <input type="text" placeholder="Enter Product Description" name="description" required>
            </div>
            <div class="input-box">
                <label for="name">Img URL</label>
                <input type="text" placeholder="Enter Product Img URL" name="url" required>
            </div>

        </div>
        <div class="button-container">
            <button type="submit">Add Product</button>
        </div>
    </form>
</div>