/* body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../../assets/1567665.webp);
    background-size: cover;
    background-position: center;
} */
body{
    background-color: #999;
}
.sign-up-form{
    width: 350px;
    box-shadow:  20px 20px 20px 20px #ccc;
    background: #fff;
    padding: 18px;
    margin: 3% auto 0;
    text-align: center ;
}
.sign-up-form h1{
    color: rgb(207, 36, 91);
    margin-bottom: 25px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-up-btn{
    background-color: #1c8adb;
}
.twitter-btn{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -28px auto 10px;
}
img{
    width: 70px;
    margin-top: -60px;
}
.auth-toggle-login{
    margin-top: 20px;
    color: blue;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.log-in-form{
    width: 350px;
    box-shadow:  20px 20px 20px 20px #ccc;
    background: #fff;
    padding: 18px;
    margin: 3% auto 0;
    text-align: center ;
}
.log-in-form h1{
    color: #1c8adb;
    margin-bottom: 25px;
}