.product-header-img{
    object-fit: contain;
    height: 500px;
    width: 100%;
}
.product-cart-img{
    object-fit: contain;
    height: 300px;
    width: 100%;
}
.product-footer{
    display: flex;
    justify-content: space-between;
}
/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */
