<ngb-carousel *ngIf="popularProducts">
    <ng-template *ngFor="let item of popularProducts" ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/details/{{item.id}}">
                <img class="product-header-img" src="{{item.url}}" alt="Random first slide">
            </a>
        </div>
        <div class="carousel-caption">
            <h3 style="color:black">{{item.name}}</h3>
            <p>{{item.description}}</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-12 text-center">
            <div class="tab">
                <ul>
                    <!-- <li id="btncheck1" (click)="filterProduct('all')">All Products</li>
                    <li id="btncheck2" (click)="filterProduct('Womens')">Womens</li>
                    <li id="btncheck3" (click)="filterProduct('Mens')">Mens</li>
                    <li id="btncheck4" (click)="filterProduct('Kids')">Kids</li>
                    <li id="btncheck5" (click)="filterProduct('Sunglasses')">Sunglasses</li>
                    <li id="btncheck6" (click)="filterProduct('Footwear')">Footwear</li> -->
                    <li id="btncheck1">All Products</li>
                    <li id="btncheck2" >Womens</li>
                    <li id="btncheck3" >Mens</li>
                    <li id="btncheck4" >Kids</li>
                    <li id="btncheck5" >Sunglasses</li>
                    <li id="btncheck6" >Footwear</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class=" " id="product-cards">
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="card mt-2">
                <a routerLink="/details/{{item.id}}">
                    <img class="product-cart-img" [src]=[item.url] alt="">
                </a>
                <div class="card-body">
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                    <span>color:{{item.color}}</span><br>
                    <span>Price:{{item.price}}</span><small>Rs</small>
                    <div class="product-footer">
                        <a href="">Details</a>
                        <a href="">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>